<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Boku no Style</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= profile.username %>'s profile</h1>
    <h2>Favourite brands</h2>
    <div class="brands-grid">
        <% profile.favouriteBrands.forEach((brand) => { %>
            <div class="brand-card"><a href="/brands/<%= brand._id %>">
                <div class="brand-title">
                    <p><%= brand.name %></p>
                </div>
                <img src="/<%= brand.logo %>" alt="<%= brand.name %>'s logo" class="brand-logo" />
            </a></div>
        <% }) %>
    </div>


</body>
</html>