<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= brand.name %> - Boku no Style</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= brand.name %></h1>
    <form class="form-sheet" action="/brands/<%= brand._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= brand.name %>" required />
        <label for="website">Website:</label>
        <input type="text" name="website" id="website" value="<%= brand.website %>" />
        <label for="established">Year established:</label>
        <input type="text" name="established" id="established" value="<%= brand.established %>" />
        <fieldset>
            <legend>Price Range:</legend>
            <input type="radio" id="low" name="priceRange" value="¥" <% if (brand.priceRange === '¥') { %>checked<% } %> />
            <label for="low">Low</label>
            <input type="radio" id="mid" name="priceRange" value="¥¥" <% if (brand.priceRange === '¥¥') { %>checked<% } %> />
            <label for="mid">Mid</label>
            <input type="radio" id="high" name="priceRange" value="¥¥¥" <% if (brand.priceRange === '¥¥¥') { %>checked<% } %> />
            <label for="high">High</label>
        </fieldset>
        <label for="description">Description:</label>
        <textarea name="description" id="description"><%= brand.description %></textarea>
        <label for="logo">Change logo image:</label>
        <input type="file" name="logo" id="logo" accept="image/*" />
        <button type="submit">Save changes</button>
    </form>
    <a href="/brands/<%= brand._id %>">Back to <%= brand.name %></a>
</body>
</html>